body {
}
.bgdiv{
    height:100%;
    width:100%;
    background-size:100% 100%;
    position:absolute;
    left:0;
    top:0;
    display:block;
    z-index:-3;
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
}
#bg1{
    z-index:-1;
}
#bg2{
    z-index:-2;
}