body {
    margin:0;
    padding:0;
    text-align:center;
}
.bgdiv{
    height:100%;
    width:100%;
    background-size:100% 100%;
    position:absolute;
    left:0;
    top:0;
    display:block;
    z-index:-3;
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
}
#bg1{
    z-index:-1;
}
#bg2{
    z-index:-2;
}
#loginbg{
    width:500px;
    height:300px;
    margin:8% auto 0  auto;
    background:rgba(200, 200, 200, 0.9);
    border-radius:20px 0px 20px 0px;
    text-align:center;
}
#messagebox {
    width:200px;
    height:40px;
    background-color:#f66;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:10px auto;
    display:none;
    z-index:999;
    text-align:center;
    line-height:40px;
}