*{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
body {
    margin:0;
    padding:0;
    
}
.bgdiv{
    height:100%;
    width:100%;
    background-size:100% 100%;
    position:absolute;
    left:0;
    top:0;
    display:block;
    z-index:-3;
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
}
#bg1{
    z-index:-1;
}
#bg2{
    z-index:-2;
}
#loginbg{
    width:500px;
    height:300px;
    margin:8% auto 0  auto;
    background:rgba(209, 187, 187, 0.4);
    border-radius:20px 0px 20px 0px;
    text-align:center;
}
#messagebox {
    width:200px;
    height:40px;
    background-color:#f66;
    position:absolute;
    margin-left:-100px;
    left:50%;
    /*left:0;
    right:0;
    top:0;
    bottom:0;
    margin:10px auto;*/
    display:none;
    z-index:999;
    text-align:center;
    line-height:40px;
}
#welcomeTitle{
    font-size:1.5em;
    background-image:-webkit-linear-gradient(left,#833ab4,#fd1d1d,#fcb045); 
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent; 
}
.logintable{
    width:400px;
    height:200px;
    margin:0 auto;
}
#txtUserName,#txtPassword{
    border-radius:5px;
}